@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(54, 212, 181);
}

h1 {
  color: #2C3A47;
  text-align: center;
}

.menu {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.menu li {
  margin: 10px;
}

.link {
  text-decoration: none;
  color: #F8EFBA;
}

.matches-page {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.matches-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.one-match {
  position: relative;
}
.remove-from-matches {
  position: absolute;
  right: 0px;
  bottom: 12px;
  width: 25px;
  height: 25px;
  border-radius: 30%;
  background: white;
  padding: 0;
}

.remove-from-matches:focus {
  outline: none;
}

.trash-icon {
  color: rgb(54, 212, 181);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}