@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(54, 212, 181);
}

h1, h2 {
  color: #2C3A47;
  text-align: center;
}

.menu {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.menu li {
  margin: 10px;
}

.link {
  text-decoration: none;
  color: #F8EFBA;
}

.login-page {
  width: 40%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 4px 11px 0px rgba(82,81,82,0.7);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  margin: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

.login-button {
  width: 100px;
  height: 30px;
  margin: 20px;
  background-color: rgb(54, 212, 181);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #F8EFBA;
  border-radius: 15px;
}

.please-log-in {
  text-align: center;
  margin: 50px;
  font-size: 30px;
}

.matches-page {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.matches-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.one-match {
  position: relative;
}
.remove-from-matches {
  position: absolute;
  right: 0px;
  bottom: 12px;
  width: 25px;
  height: 25px;
  border-radius: 30%;
  background: white;
  padding: 0;
}

.login-button:focus,
.remove-from-matches:focus {
  outline: none;
}

.trash-icon {
  color: rgb(54, 212, 181);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}